.form {
    padding: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    #form {
      border-radius: 10px;
     background-color: cadetblue;
      padding: 120px 90px;
      border: 1px solid blue;
      .form-control {
        padding: 10px 25px;
        border-radius: 10px;
        border: none;
        outline: none;
      }
      label {
        font-size: 20px;
        color: rgb(37, 37, 125);
        font-family: Georgia, "Times New Roman", Times, serif;
      }
      //   .details{
      //     padding: 10px 25px;
      //     border: none;
      //     background-color: aqua;
      //   }
      #addBtn {
        padding: 10px 25px;
        background-color: rgb(253, 250, 255);
        color: rgb(24, 23, 23);
        border: none;
      }
    }
  }