footer {
  margin-top: 100px;
  background-color: rgb(16, 69, 138);
  .footer {
    padding: 100px 200px;
    color: white;
    text-align: center;
    h1 {
      font-size: 40px;
    }
    p {
      margin-top: 20px;
      font-size: 20px;
    }
    button {
      margin-top: 20px;
      padding: 18px 55px;
      background-color: rgb(33, 117, 150);
      border: none;
      font-size: 15px;
      color: white;
      margin-bottom: 30px;
    }
    .end{
        font-size: 15px;
    }   
    
  }
}
