#save {
  background-image: url("../image/photo-1606767208159-1a5fb0a87841.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin-top: 100px;
  .save-empty{
     background-color: rgba(222, 151, 151,0.6);
    // opacity: 0.8;
    padding: 200px 0px;
    .save {
   
        .content {
          text-align: center;
          padding: 30px 200px;
          h1 {
            font-size: 60px;
            color: white;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          }
          button {
            margin-top: 20px;
            padding: 20px 55px;
            border: none;
            color: white;
            background-color: rgb(211, 174, 128);
            font-size: 18px;
            transition: all 0.9s;
    
            &:hover {
              color: burlywood;
              box-shadow: inset 12em 0 0 0 white;
            }
          }
        }
      }
  }
 
  @media screen and (max-width: 767px) {
    // padding: 0 5%;
    .save-empty{
        padding: 0px 0px;
        .save {
            .content {
              padding: 60px;
              h1 {
                font-size: 30px;
              }
            }
          }
    }
  }
}
