.form {
  padding: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  form{
    padding: 60px;
    background-color: burlywood;
    input{
        width: 90%;
        padding:10px 40px;
        border-radius: 10px;
        border: none;
        background-color: #fff;
    }
    button{
        padding: 10px 30px;
        border-radius: 10px;
        border: none;
        background-color: burlywood;
        border: 1px solid white;
        color: white;
        &:hover{
            background-color: white;
            color: burlywood; 
        }
    }
  }
}
