#cards{
    .all{
       padding: 40px 0px;
        .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;
            .cardOne{
                background-color: rgb(250, 202, 200);
                .fa-hands-holding{
                    border-radius: 50%;
                    font-size: 25px;
                    padding: 20px ;
                    background-color: rgb(212, 148, 146);

                }
            }
            .cardTwo{
                background-color: rgb(187, 248, 218);
                .fa-building{
                    border-radius: 50%;
                    font-size: 25px;
                    padding: 20px ;
                    background-color: rgb(153, 233, 193)
                }
            }
            .cardThird{
                
                background-color: rgb(255, 255, 196);
                .fa-inbox{
                    border-radius: 50%;
                    font-size: 25px;
                    padding: 20px ;
                    background-color: rgb(238, 238, 131);
                }
            }
            .cardFour{
                background-color: rgb(255, 228, 196);
                .fa-user-tie{
                    border-radius: 50%;
                    font-size: 25px;
                    padding: 20px ;
                    background-color: rgb(245, 196, 136);
                }
            }
            
            
            .card{
                width: 20%;
                padding: 30px;
                // height: 250px;
              h3{
                color: rgb(8, 49, 73);
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
                margin-top: 10px;
              }
              p{
                color: rgb(8, 49, 73);
                font-family: 'Poppins', sans-serif;
                margin-top: 10px;

              }
               
            }
        }
    }
}