#about {
  margin-top: 100px;

  .about {
    .about-content {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;

      h1 {
        font-size: 40px;
        font-family: "Poppins", sans-serif;
      }
      p {
        font-size: 18px;
        color: grey;
      }
      input{
        padding: 10px 60px;
        width: 40%;
        border-radius: 20px;
        border: none;
        background-color: rgb(255, 210, 127);
        outline:none;
      }
      .sort{
        padding: 10px 20px;
        width: 10%;
        border-radius: 20px;
        border: none;
        background-color: rgb(255, 210, 127);
        outline:none;
      }
    }
    .cards {
      padding: 60px 0px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      .card {
        box-shadow: 10px 10px 10px rgb(231, 143, 156);
        // border: 1px solid;
        padding: 50px;
        text-align: center;
        border-radius: 10px;
        h3 {
          margin-top: 15px;
        }
        p {
          margin-top: 15px;
          color: grey;
        }
        .icons {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          opacity: 0 ;
          transition: 0.3s;
          i {
            padding: 10px;
            background-color: burlywood;
            color: chocolate;
            border-radius: 50%;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .loadMore{
        padding: 10px 30px;
  
        width: 10%;
        border-radius: 20px;
        border: none;
        background-color: rgb(255, 210, 127);
        outline:none;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 0 5%;

    .about {
      .about-content {
        padding: 0px;
        input{
          display: none;
        }
        button{
          display: none;
        }
        
      }
      .cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .loadMore{
        display: none;
      }
    }
  }
}
