#home {
  background-image: url("../image/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // padding: 300px;

  .empty {
    background-color: rgba(123, 131, 132, 0.6);
    padding: 300px;
    .home {
      font-family: "Poppins", sans-serif;
      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 250px;
        text-align: center;
        color: rgb(198, 225, 230);
        h1 {
          font-size: 50px;
          font-weight: bold;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
  @media screen and (max-width:767px) {
    .empty{
        padding: 0px;
       .home{
        padding: 100px;
        .info{
            padding: 0px;
            h1{
                font-size: 30px;
            }
        }
       }

    }
  }
}
