#students {
  margin-top: 100px;
  .students {
    .students-content {
      text-align: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;

      h1 {
        font-size: 40px;
        font-family: "Poppins", sans-serif;
      }
      p {
        font-size: 18px;
        color: rgb(156, 150, 150);
      }
    }
    .content-cards {
      padding: 100px 0px;
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      justify-content: space-between;
      .all-card {
        position: relative;
        width: 30%;
        // height: 200px;
        .card {
          // height: 100px;
          img {
            width: 100%;
          }
          .bottom {
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 18px;
              color: red;
            }
          }
        }
        .text {
          left: 20px;
          color: white;
          bottom: 50px;
          position: absolute;
          padding: 10px;
          background-color: rgb(223, 75, 75);
          width: 40%;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 0 5%;
    .students {
      .content-cards {
        gap: 30px;
        display: flex;
        flex-direction: column;
        .all-card {
          width: 100%;
          margin-bottom: 20px;
          

          .card {
            display: flex;
            flex-direction: column;
            gap: 30px;
          }
        }
      }
    }
  }
}
