* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  font-family: "Poppins", sans-serif;
}
header #header-top {
  border-bottom: 1px solid grey;
}
header #header-top .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #header-top .header-top p {
  font-size: 18px;
  font-weight: bold;
}
header #header-top .header-top .mini-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
header #header-top .header-top .mini-head i {
  color: white;
  background-color: rgb(203, 67, 76);
  padding: 30px 30px;
}
header #header-top .header-top .fa-solid {
  display: none;
  color: red;
}
header #header-bottom .header-bottom {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #header-bottom .header-bottom nav ul {
  display: flex;
  gap: 20px;
  font-size: 16px;
}
header #header-bottom .header-bottom nav ul li a {
  color: rgb(1, 1, 1);
  font-weight: bold;
}
header #header-bottom .header-bottom nav ul li a.active {
  color: rgb(204, 17, 17);
}
@media screen and (max-width: 767px) {
  header {
    padding: 0 5%;
  }
  header #header-top {
    padding: 10px;
    border-bottom: 0px;
  }
  header #header-top .header-top p {
    display: none;
  }
  header #header-top .header-top .mini-head {
    display: none;
  }
  header #header-top .header-top .fa-solid {
    display: block;
  }
  header #header-bottom .header-bottom nav {
    display: none;
  }
}

#home {
  background-image: url("../image/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home .empty {
  background-color: rgba(123, 131, 132, 0.6);
  padding: 300px;
}
#home .empty .home {
  font-family: "Poppins", sans-serif;
}
#home .empty .home .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 250px;
  text-align: center;
  color: rgb(198, 225, 230);
}
#home .empty .home .info h1 {
  font-size: 50px;
  font-weight: bold;
}
#home .empty .home .info p {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  #home .empty {
    padding: 0px;
  }
  #home .empty .home {
    padding: 100px;
  }
  #home .empty .home .info {
    padding: 0px;
  }
  #home .empty .home .info h1 {
    font-size: 30px;
  }
}

#about {
  margin-top: 100px;
}
#about .about .about-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#about .about .about-content h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}
#about .about .about-content p {
  font-size: 18px;
  color: grey;
}
#about .about .about-content input {
  padding: 10px 60px;
  width: 40%;
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 210, 127);
  outline: none;
}
#about .about .about-content .sort {
  padding: 10px 20px;
  width: 10%;
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 210, 127);
  outline: none;
}
#about .about .cards {
  padding: 60px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
#about .about .cards .card {
  box-shadow: 10px 10px 10px rgb(231, 143, 156);
  padding: 50px;
  text-align: center;
  border-radius: 10px;
}
#about .about .cards .card h3 {
  margin-top: 15px;
}
#about .about .cards .card p {
  margin-top: 15px;
  color: grey;
}
#about .about .cards .card .icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transition: 0.3s;
}
#about .about .cards .card .icons i {
  padding: 10px;
  background-color: burlywood;
  color: chocolate;
  border-radius: 50%;
}
#about .about .cards .card .icons:hover {
  opacity: 1;
}
#about .about .loadMore {
  padding: 10px 30px;
  width: 10%;
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 210, 127);
  outline: none;
}
@media screen and (max-width: 767px) {
  #about {
    padding: 0 5%;
  }
  #about .about .about-content {
    padding: 0px;
  }
  #about .about .about-content input {
    display: none;
  }
  #about .about .about-content button {
    display: none;
  }
  #about .about .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #about .about .loadMore {
    display: none;
  }
}

#body {
  padding: 70px;
  margin-top: 100px;
  background-color: crimson;
}
#body .body {
  color: white;
}
#body .body .bodyContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#body .body .bodyContent h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}
#body .body .bodyContent p {
  font-size: 18px;
  color: rgb(246, 240, 240);
}
#body .body .bodyContent .inputs {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#body .body .bodyContent .inputs input {
  padding: 10px 50px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
#body .body .bodyContent .inputs button {
  padding: 15px 70px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: white;
  color: black;
}
#body .body .bodyContent .inputs button:hover {
  background-color: transparent;
}
@media screen and (max-width: 767px) {
  #body {
    padding: 0 5%;
  }
  #body .body {
    padding: 60px;
  }
  #body .body .bodyContent h1 {
    font-size: 30px;
  }
  #body .body .bodyContent .inputs {
    display: flex;
    flex-direction: column;
  }
  #body .body .bodyContent .inputs input {
    width: 100%;
  }
}

#students {
  margin-top: 100px;
}
#students .students .students-content {
  text-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#students .students .students-content h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}
#students .students .students-content p {
  font-size: 18px;
  color: rgb(156, 150, 150);
}
#students .students .content-cards {
  padding: 100px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}
#students .students .content-cards .all-card {
  position: relative;
  width: 30%;
}
#students .students .content-cards .all-card .card img {
  width: 100%;
}
#students .students .content-cards .all-card .card .bottom h3 {
  font-size: 20px;
}
#students .students .content-cards .all-card .card .bottom p {
  font-size: 18px;
  color: red;
}
#students .students .content-cards .all-card .text {
  left: 20px;
  color: white;
  bottom: 50px;
  position: absolute;
  padding: 10px;
  background-color: rgb(223, 75, 75);
  width: 40%;
}
@media screen and (max-width: 767px) {
  #students {
    padding: 0 5%;
  }
  #students .students .content-cards {
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
  #students .students .content-cards .all-card {
    width: 100%;
    margin-bottom: 20px;
  }
  #students .students .content-cards .all-card .card {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

#huge {
  margin-top: 100px;
  background-image: url("../image/callto-bg (1).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}
#huge .huge {
  text-align: center;
}
#huge .huge .info {
  padding: 30px 150px;
  font-family: "Poppins", sans-serif;
  color: white;
}
#huge .huge .info h1 {
  font-size: 40px;
}
#huge .huge .info p {
  margin-top: 20px;
  font-size: 16px;
}
#huge .huge .info button {
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: crimson;
}
@media screen and (max-width: 767px) {
  #huge {
    padding: 40px;
  }
  #huge .huge {
    padding: 0 5%;
  }
  #huge .huge .info {
    padding: 20px;
  }
}

footer {
  margin-top: 100px;
}
footer .footer {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer p {
  font-size: 20px;
}
footer .footer .footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
footer .footer .footer-icons i {
  background-color: black;
  padding: 10px;
  color: white;
}
@media screen and (max-width: 767px) {
  footer {
    padding: 0 5%;
  }
  footer .footer {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */