footer {
  background-color: rgb(225, 232, 232);
  padding: 70px 0px;
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .footer-left {
      display: flex;
      flex-direction: column;
      .send {
        position: relative;
        input {
          padding: 10px 130px;
          border: none;
          border-bottom: 1px solid blue;
          background-color: rgb(225, 232, 232);
        }
        button {
          position: absolute;
          right: 0px;
          bottom: 0px;
          padding: 10px 25px;
          border: none;
          outline: none;
          border-bottom: 1px solid blue;
          background-color: rgb(195, 200, 200);
        }
      }

      img {
        width: 100px;
      }
    }
    .footer-right {
      display: flex;
      gap: 30px;
      .about {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: "Quicksand";
        font-size: 20px;
        color: rgb(15, 114, 83);

        nav {
          ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
              a {
                font-family: "Quicksand";
                font-size: 20px;
                color: rgb(15, 114, 83);
                transition: 0.4s all;
                &:hover{
                    color: rgb(16, 38, 4);
                    text-decoration: underline;

                }
              }
            }
          }
        }
      }
    }
  }
}
