#Home{
    .carousel-item.img {
        background-image: url("../image/sl1-967x725.jpg");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .text {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            p {
                font-style: italic;
                color: green;
              }
              h1 {
                /* font-style: italic; */
                color: green;
                font-size: 2.5rem;
                font-family: Georgia, "Times New Roman", Times, serif;
              }
          }
      
      }
    .carousel-item.img2 {
        background-image: url("../image/sl4.jpg");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .text {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            p {
                font-style: italic;
                color: green;
              }
              h1 {
                /* font-style: italic; */
                color: green;
                font-size: 2.5rem;
                font-family: Georgia, "Times New Roman", Times, serif;
              }
              
          }
      
      }
    .carousel-item.img3 {
        background-image: url("../image/sl7.jpg");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .text {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            p {
                font-style: italic;
                color: green;
              }
              h1 {
                /* font-style: italic; */
                color: green;
                font-size: 2.5rem;
                font-family: Georgia, "Times New Roman", Times, serif;
              }
          }
      
      }
      
        

}