/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: rgb(20, 118, 67);
  padding: 30px;
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header h3 {
  font-size: 20px;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
header .header nav ul {
  display: flex;
  gap: 20px;
}
header .header nav ul li a {
  color: rgb(255, 255, 255);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  transition: 0.4s;
}
header .header nav ul li a:hover {
  color: orangered;
}

#Home .carousel-item.img {
  background-image: url("../image/sl1-967x725.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Home .carousel-item.img .text {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
#Home .carousel-item.img .text p {
  font-style: italic;
  color: green;
}
#Home .carousel-item.img .text h1 {
  /* font-style: italic; */
  color: green;
  font-size: 2.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#Home .carousel-item.img2 {
  background-image: url("../image/sl4.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Home .carousel-item.img2 .text {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
#Home .carousel-item.img2 .text p {
  font-style: italic;
  color: green;
}
#Home .carousel-item.img2 .text h1 {
  /* font-style: italic; */
  color: green;
  font-size: 2.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#Home .carousel-item.img3 {
  background-image: url("../image/sl7.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Home .carousel-item.img3 .text {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
#Home .carousel-item.img3 .text p {
  font-style: italic;
  color: green;
}
#Home .carousel-item.img3 .text h1 {
  /* font-style: italic; */
  color: green;
  font-size: 2.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#local {
  padding: 150px;
}
#local .local {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
#local .local .local-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 50px 90px;
  gap: 20px;
  color: rgb(26, 98, 66);
}
#local .local .local-text h2 {
  font-size: 3rem;
  font-family: "Quicksand", sans-serif;
}
#local .local .local-text h5 {
  font-style: italic;
}
#local .local .local-text img {
  width: 150px;
}
#local .local .local-img {
  width: 50%;
  display: flex;
}
#local .local .local-img .imgOne {
  position: relative;
  top: 100px;
  left: 60px;
}
#local .local .local-img .imgTwo {
  position: relative;
  top: 60px;
  z-index: -1;
}

#services {
  background-image: url("../image/background2.jpg");
  padding: 200px 0px;
}
#services .mission {
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .mission .mission-text {
  gap: 20px;
  padding-left: 90px;
  padding-right: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  background-color: rgb(25, 127, 88);
  height: 500px;
}
#services .mission .mission-text button {
  padding: 10px 25px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
}
#services .mission .mission-text button:hover {
  background-color: rgb(153, 153, 8);
  color: white;
}
#services .mission .mission-text h3 {
  font-size: 3rem;
  color: white;
}
#services .mission .mission-text p {
  font-size: 18px;
  color: white;
}
#services .mission .mission-img {
  width: 50%;
}
#services .mission .mission-img img {
  width: 100;
}
#services .iconCards {
  padding-top: 100px;
  display: flex;
  gap: 20px;
}
#services .iconCards .iconCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgb(11, 116, 91);
  font-family: "Quicksand", sans-serif;
}
#services .iconCards .iconCard p {
  font-size: 18px;
}
#services .iconCards .iconCard .icon {
  display: flex;
  gap: 10px;
}
#services .iconCards .iconCard .icon i {
  font-size: 3rem;
}
#services .iconCards .iconCard .icon h3 {
  font-size: 2rem;
}

#sale {
  margin-top: 100px;
  background-image: url("../image/sl3-1050x700.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
#sale .sale .sale-text {
  font-family: "Quicksand", sans-serif;
  color: beige;
  padding: 50px 90px;
}
#sale .sale .sale-text h3 {
  font-size: 50px;
}
#sale .sale .sale-text p {
  padding-top: 10px;
  font-size: 1.5rem;
}

#Portfolio {
  margin-top: 100px;
  background-image: url("../image/background1-1-1085x595.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Portfolio .portfolio-head {
  padding: 100px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}
#Portfolio .portfolio-head h3 {
  font-family: "Quicksand";
  font-size: 3rem;
  color: rgb(15, 114, 83);
}
#Portfolio .portfolio-head p {
  font-style: italic;
  color: rgb(16, 115, 77);
}
#Portfolio .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-family: "Quicksand";
}
#Portfolio .cards .cardOne {
  gap: 20px;
  padding: 90px 50px;
  background-color: rgb(217, 224, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(6, 103, 88);
  width: 30%;
}
#Portfolio .cards .cardOne i {
  font-size: 35px;
}
#Portfolio .cards .cardOne h5 {
  font-style: italic;
  font-size: 1rem;
}
#Portfolio .cards .cardOne p {
  font-size: 18px;
}
#Portfolio .cards .cardOne .shopBtn {
  margin-top: 10px;
  padding: 7px 15px;
  border: none;
  background-color: rgb(182, 192, 195);
  color: rgb(54, 125, 180);
}
#Portfolio .cards .cardOne .shopBtn:hover {
  background-color: blue;
  color: white;
}
#Portfolio .cards .card {
  width: 30%;
  background-color: transparent;
  border: none;
}
#Portfolio .pricing .pricingCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
#Portfolio .pricing .pricingCards .card {
  border: none;
  background-color: transparent;
  width: 30%;
  flex-direction: column;
}
#Portfolio .pricing .pricingCards .card img {
  width: 100px;
  width: 100%;
}
#Portfolio .pricing .loadBtn {
  margin: 80px;
  padding: 15px 30px;
  background-color: green;
  color: white;
  border: none;
}
#Portfolio .pricing .pricing-head {
  padding: 100px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}
#Portfolio .pricing .pricing-head .sort .sortBtn {
  padding: 10px 35px;
  border: none;
  outline: none;
  background-color: rgb(88, 195, 172);
  color: white;
}
#Portfolio .pricing .pricing-head .sort .search {
  padding: 10px 150px;
  border: none;
  outline: none;
  border-radius: 10px;
}
#Portfolio .pricing .pricing-head h3 {
  font-family: "Quicksand";
  font-size: 3rem;
  color: rgb(15, 114, 83);
}
#Portfolio .pricing .pricing-head p {
  font-style: italic;
  color: rgb(16, 115, 77);
}
#Portfolio .pricing .pricing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#Portfolio .pricing .pricing-text h3 {
  font-family: "Quicksand";
  font-size: 20px;
  color: rgb(15, 114, 83);
}
#Portfolio .pricing .pricing-text p {
  font-style: italic;
  color: rgb(16, 115, 77);
}
#Portfolio .events {
  padding: 100px;
}
#Portfolio .events .events-head {
  padding: 100px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}
#Portfolio .events .events-head h3 {
  font-family: "Quicksand";
  font-size: 3rem;
  color: rgb(15, 114, 83);
}
#Portfolio .events .events-head p {
  font-style: italic;
  color: rgb(16, 115, 77);
}
#Portfolio .events .eventCards {
  display: flex;
  gap: 20px;
  padding: 60px;
}
#Portfolio .events .eventCards .eventCard {
  padding: 80px 60px;
  border: 1px solid green;
  background-color: blanchedalmond;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand";
  gap: 20px;
  color: rgb(31, 114, 120);
}
#Portfolio .events .eventCards .eventCard h2 {
  font-size: 20px;
}
#Portfolio .events .eventCards .eventCard .shopBtn {
  margin-top: 10px;
  padding: 7px 15px;
  border: none;
  background-color: rgb(182, 192, 195);
  color: rgb(54, 125, 180);
}
#Portfolio .events .eventCards .eventCard .shopBtn:hover {
  background-color: blue;
  color: white;
}

#team .team .team-head {
  padding: 100px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}
#team .team .team-head h3 {
  font-family: "Quicksand";
  font-size: 3rem;
  color: rgb(15, 114, 83);
}
#team .team .team-head p {
  font-style: italic;
  color: rgb(16, 115, 77);
}
#team .team-cards {
  display: flex;
  justify-content: center;
}
#team .team-cards .card {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(15, 114, 83);
}
#team .team-cards .card i {
  display: none;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  border: 10px solid white;
  background-color: white;
  transition: 0.6s all;
}
#team .team-cards .card:hover i {
  display: block;
}
#team .team-cards .card .card-img {
  position: relative;
}
#team .team-cards .card .card-img .card-icon {
  position: absolute;
  top: 20px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#team .team-cards .card .card-text {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
#team .team-cards .card img {
  width: 100%;
}
#team .team-cards .card h3 {
  font-family: "Quicksand";
  font-size: 30px;
}
#team .team-cards .card p {
  font-style: italic;
  font-size: 20px;
}
#team .content {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#team .content .content-left {
  width: 50%;
}
#team .content .content-left h1 {
  color: rgb(15, 114, 83);
  font-family: "Quicksand";
  font-size: 50px;
}
#team .content .content-left img {
  padding-top: 20px;
  width: 200px;
}
#team .content .content-right {
  width: 50%;
}
#team .content .content-right p {
  font-style: italic;
  color: rgb(15, 114, 83);
  font-family: "Quicksand";
  font-size: 20px;
}

footer {
  background-color: rgb(225, 232, 232);
  padding: 70px 0px;
}
footer .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .footer .footer-left {
  display: flex;
  flex-direction: column;
}
footer .footer .footer-left .send {
  position: relative;
}
footer .footer .footer-left .send input {
  padding: 10px 130px;
  border: none;
  border-bottom: 1px solid blue;
  background-color: rgb(225, 232, 232);
}
footer .footer .footer-left .send button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 10px 25px;
  border: none;
  outline: none;
  border-bottom: 1px solid blue;
  background-color: rgb(195, 200, 200);
}
footer .footer .footer-left img {
  width: 100px;
}
footer .footer .footer-right {
  display: flex;
  gap: 30px;
}
footer .footer .footer-right .about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Quicksand";
  font-size: 20px;
  color: rgb(15, 114, 83);
}
footer .footer .footer-right .about nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer .footer-right .about nav ul li a {
  font-family: "Quicksand";
  font-size: 20px;
  color: rgb(15, 114, 83);
  transition: 0.4s all;
}
footer .footer .footer-right .about nav ul li a:hover {
  color: rgb(16, 38, 4);
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */