* {
  margin: 0;
  padding: 0;
}


.cards {
  background-color: rgb(241, 240, 181);
  padding: 100px ;
  height: 100vh;
}
.card{
    background-color: white ;
    box-shadow: 2px 2px 2px 2px black;
    padding: 20px;
    border-top-right-radius: 20px;
        

}
.two{
    display: flex;
    column-gap: 10px;
}


button{
    padding: 5px 8px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 3px;
}

 