main css 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline;
    margin-right: 10px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

nav a:hover {
    color: gold;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    width: 500px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.about-section {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    color: #333;
}

.about-section p {
    color: #666;
}

table {
    border-collapse: collapse;
}

th, tr, table, td {
    padding: 10px;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #0056b3;
}