#herro-banner {
  .carousel-inner {
    .info {
      text-align: center;
      padding: 30px 150px;

      h1 {
        font-family: "Indie Flower", cursive;
        font-size: 60px;
        color: white;
      }
      button {
        margin-top: 20px;
        padding: 10px 30px;
        border: none;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
    .one {
      background-image: url("../image/bg_2.jpg");
      padding: 400px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .two {
      background-image: url("../image/bg_3.jpg");
      padding: 400px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .three {
      background-image: url("../image/bg_2.jpg");
      padding: 400px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  @media screen and (max-width: 767px) {
    .carousel-inner {
//    padding: 0px 5%;
    }
  }
}
